/* **************************************************************************
 * Common Styles
 * ************************************************************************** */

.lb_clear {
    clear: both;
}
.force_word_break {
    text-overflow: ellipsis;
    overflow: hidden;
}
.auto_scroll {
    overflow: scroll;
}
table.contracts {
    border-collapse: collapse;
    max-width: 100%;
}

table.contracts th,
table.contracts td {
    padding: 5px;
    border: 1px solid grey;
    vertical-align: top;
    max-width: 100px;
}

a.lb_inactive {
    color: silver !important;
}

/* **************************************************************************
 * Status Indicator Colors
 * ************************************************************************** */
.lb_status_vote {
    color: #aefb53;
}

.lb_status_active {
    color: #f5b203;
}

.lb_status_stopped {
    color: #e983a8;
}

.lb_back_status_vote {
    background-color: #aefb53;
}

.lb_back_status_active {
    background-color: #f5b203;
}

.lb_back_status_stopped {
    background-color: #e983a8;
}

/* **************************************************************************
 * Gallery Styles
 * ************************************************************************** */
.lb_gallery_img_block {
    float: left;
    text-align: center;
    padding: 6px;
}