@charset "utf-8";

@font-face {
 font-family:'mtcor';
 src: url('mtcor.eot');
 src: local('O'), url('mtcor.woff') format('woff'),
 url('mtcor.TTF') format('truetype');
}
body {
 font-family:arial;
 line-height:1;
 position:relative;
 background:url(../img/bg-top.png) center top no-repeat;
}
a:hover {
 text-decoration:none;
}
.cont {
 width:92%;
 max-width:1200px;
 margin:0 auto;
 overflow:hidden;
 position:relative;
 z-index:2;
}
.floatleft {
 float:left;
}
.floatright {
 float:right;
}
header {
 width:100%;
}
.logo {
 width:30%;
 margin-left:-1%;
}
.logo span {
 display:block;
 font-weight:bold;
 font-size:17px;
 margin:-15px 0 38px 15%;
 color:#fff;
}
.moduletable_phone {
 font-size:34px;
 margin-top:37px;
 margin-left:4.5%;
 color:#fff;
}
.moduletable_phone p {
 margin:0;
 float:left;
}
.moduletable_phone a {
 display:block;
 width:113%;
 font-size:20px;
 text-decoration:none;
 margin-left:5%;
 margin-top:-2px;
 text-align:center;
 padding:10px 0;
 background:#007ac7;
 border-radius:7px;
 text-transform:uppercase;
 color:#fff;
}
.login {
 margin-top:33px;
 font-size:12px;
 width:21%;
 background:url(../img/soc-ikonki.png) no-repeat 84px 8px;
 padding-bottom:13px;
 color:#fff;
}
.login a {
 text-decoration:none;
 color:#fff;
}
.login div {
 height:30px;
 padding-right:11%;
 padding-top:12px;
 margin-top:-11px;
 background:url(../img/korzina.png) no-repeat top right;
}
.login span {
 display:block;
 width:35%;
 margin-top:11px;
 line-height:17px;
}
.login ul.soc-top {
 margin-top:-4px;
 margin-right:5px;
}
.login ul li {
 float:left;
 margin-left:1px;
}
.login ul.soc-top li {
 margin-left:4px;
}
.moduletable_lang {
 margin-top:35px;
 margin-left:6%;
}
.moduletable_lang ul li {
 float:left;
 margin-right:13px;
}
.moduletable_cities {
 width:21.5%;
 margin-left:9%;
 margin-top:30px;
 position:relative;
 z-index:5;
}
.moduletable_cities div {
 width:100%;
}
.moduletable_cities select {
 border:none;
 width:100%;
 height:37px;
 border-radius:10px;
 padding-left:5%;
 cursor:pointer;
}
.search a {
 display:block;
 width:6%;
 height:53px;
 margin-top:3px;
 margin-left:-2.1%;
 font-size:12px;
 text-decoration:none;
 background:url(../img/sitemap.png) bottom right no-repeat;
 color:#fff;
 position:relative;
 z-index:4;
}
.moduletable_search {
 margin-top:-6px;
 width:21%;
}
.moduletable_search div {
 width:100%;
}
.moduletable_search input[type=text] {
 border:none;
 width:80%;
 padding:12px 14% 8px 6%;
 border-radius:10px;
 font-size:14px;
 position:relative;
 z-index:1;
 color:#e3959f;
}
.moduletable_search .button {
 float:right;
 position:relative;
 z-index:2;
 margin-left:-2%;
 margin-top:-27px;
}
.moduletable_form {
 width:29.833%;
 text-align:center;
 padding-bottom:7px;
 color:blue;
}

/* blue color */
h2, h3, .list li a, .news-last p, 
.moduletable_slider .flex-caption, 
.moduletable_form .free,
.moduletable_rightmenu li a,
.moduletable_bigmenu li a, 
.moduletable_addus, 
.moduletable_footermenu li a,
.moduletable_adver li a, 
.to-top, .moduletable_play {
 text-shadow:
 -1px -1px 0 #fff,
 1px -1px 0 #fff,
 -1px 1px 0 #fff,
 1px 1px 0 #fff;
 color:#007ac7;
}
/* magenta color */
a, .magenta, 
.moduletable_slider .flex-caption, 
.newsflash_news .date, 
.moduletable_adver li a {
 color:#e8268f;
}

.moduletable_form h3 {
 font-size:34px;
 margin:20px auto 26px auto;
 font-weight:normal;
 width:70%;
 line-height:44px;
 display:block;
}
.moduletable_form .free {
 font-size:25px;
}
.moduletable_form .free span {
 font-size:29px;
 display:block;
 text-transform:uppercase;
 margin:6px 0 30px 0;
}
.moduletable_form input {
 border-radius:8px;
 padding:13px 6%;
 width:66%;
 margin:0 auto 6px auto;
 border:none;
 font-size:21px;
 font-family:arial;
}
.moduletable_form input[type=submit] {
 background:url(../img/konvertik.png) no-repeat 5% 19px #007ac7;
 margin:13px 0 20px 0;
 width:78%;
 padding:19px 0 16px 15%;
 font-size:21px;
 text-transform:uppercase;
 color:#fff;
}
.moduletable_form div {
 border:none !important;
}
.moduletable_form a {
 display:none !important;
}
.moduletable_slider {
 width:auto;
 max-width:835px;
 margin-bottom:-60px;
 position:relative;
}
.moduletable_slider .flex-caption {
 font-family:mtcor;
 margin:0;
 position:absolute;
 left:4%;
 top:22px;
 font-size:54px;
 background:none;
}
section {
 background:url(../img/section.png) repeat-y left;
 background-size:99.5%;
 margin-left:1px;
}
.list {
 width:28.2%;
 background:url(../img/kat_uslug.png) repeat-y;
 background-size:100%;
 border-radius:20px;
 margin:55px 0 0 1.7%;
 padding-bottom:20px;
 position:relative;
}
.list h2 {
 font-size:36px;
 font-weight:normal;
 margin:0 0 0 1%;
 text-align:center;
 background:url(../img/h-bg.png) no-repeat;
 width:81.6%;
 padding:12px 0 18px 16%;
 border-radius:10px;
 font-family:mtcor;
 letter-spacing:0.01em;
}
.list img.h-img {
 position:absolute;
 left:8%;
 top:12px;
}
.moduletable_lang ul,
.login ul, .list ul, 
.moduletable_rightmenu ul, 
.moduletable_bigmenu ul,
.moduletable_footermenu ul, 
.moduletable_share ul, 
.moduletable_adver ul {
 padding:0;
 margin:0;
 list-style:none;
}
.list ul {
 padding:0;
 margin:22px 0 0 0;
 list-style:none;
 overflow:hidden;
}
.list ul:after {
 content:'';
 background:url(../img/kat_uslug_bottom.png) no-repeat #eef8fa;
 background-size:100%;
 height:20px;
 width:100%;
 display:block;
 position:absolute;
 bottom:0;
}
.list li {
 float:left;
 width:91%;
 height:40px;
 line-height:28px;
 margin-bottom:-1px;
 padding-left:6%;
}
.list li img {
 margin-right:4%;
 margin-bottom:10px;
}
.list li:nth-of-type(2),
.list li:nth-of-type(12),
.list li:nth-of-type(13) {
 line-height:18px;
}
.list li:nth-of-type(2) a,
.list li:nth-of-type(12) a,
.list li:nth-of-type(13) a {
 margin-top:-4px;
 display:block;
}
.list li a {
 text-decoration:none;
}
.moduletable_shumo, 
.moduletable_mesto {
 margin-left:2.1%;
 margin-top:-15px;
}
.moduletable_mesto {
 margin-top:-20px;
}
.moduletable_mesto img:nth-of-type(2) {
 margin-left:0.1%;
}
.news-last {
 width:41.7%;
 margin-left:1.5%;
 margin-top:54px;
 overflow:hidden;
 position:relative;
 padding-bottom:19px;
 background:url(../img/news.png) repeat-y;
 background-size:100%;
 border-radius:16px;
}
.news-last:after {
 content:'';
 display:block;
 width:100%;
 height:19px;
 background:url(../img/news_bottom.png) no-repeat #eef8fa;
 background-size:100%;
 position:absolute;
 bottom:0;
}
.news-last h3, article h2, 
.moduletable_video h3 {
 font-size:36px;
 font-weight:normal;
 margin:0 0 -9px 1%;
 text-align:center;
 background:url(../img/h-bg.png) no-repeat;
 width:98%;
 padding:13px 0 19px 0;
 border-radius:10px;
 font-family:mtcor;
 float:left;
}
article h2 {
 padding:14px 0 16px 0;
 margin:0 0 -9px 2%;
 width:102%;
 position:relative;
 z-index:2;
}
article h2:before {
 content:url('../img/ikonka_nashi_uslugi_na_ka.png');
 position:absolute;
 left:5%;
 top:12px;
}
.articleBody {
 background:url(../img/articleBody.jpg) repeat-y;
 background-size:100%;
 width:102%;
 float:left;
 margin-left:2%;
 position:relative;
 z-index:1;
 padding-bottom:26px;
}
.moduletable_news h3 {
 position:relative;
}
.moduletable_news h3:before {
 content:url('../img/isoknka_novosti.png');
 position:absolute;
 left:5%;
 top:14px;
}
.newsflash_news {
 padding:0 6.6%;
 overflow:hidden;
}
.newsflash_news .stars {
 margin:11px 0 0 0;
 width:100%;
}
.newsflash_news h4 {
 width:100%;
 margin:5px 0 11px 0;
 font-size:14px;
 font-weight:normal;
 color:red;
}
.newsflash_news .date {
 width:100%;
 font-size:11px;
 margin:0 0 2px 1%;
 font-style:italic;
}
.newsflash_news p {
 width:100%;
 float:left;
 font-size:13px;
 line-height:18px;
 margin:0 0 -6px 0;
}
.newsflash_news .readmore {
 font-size:12px;
}
.moduletable_recent {
 margin-top:12px;
 width:100%;
 padding-bottom:52px;
}
.news-last .moduletable_recent h3 {
 padding:10px 0 14px 0;
 margin:0 0 -15px 1%;
 position:relative;
}
.moduletable_recent h3:before {
 content:url('../img/ikonka_nedavno_dobavl.png');
 position:absolute;
 left:2%;
 top:15px;
}
.moduletable_recent .last-item {
 padding:0 7% 0 5%;
 margin:0 0 -16px 0;
 width:100%;
}
.moduletable_recent .last-item a {
 font-size:11px;
 float:left;
 margin:33px 0 -20px 14%;
 width:84%;
}
.moduletable_recent .last-item p {
 font-size:11px;
 margin:0;
}
.moduletable_recent .last-item img {
 margin-right:3%;
}
.moduletable_last h3 {
 padding:10px 0 20px 0;
 position:relative;
}
.moduletable_last h3:before {
 content:url('../img/ikonka_poslednie_otzyvy.png');
 position:absolute;
 left:3.7%;
 top:14px;
}
.moduletable_last .last-item {
 padding:0 9%;
 font-size:20px;
 margin-top:20px;
}
.moduletable_last .last-item .otzyv-author {
 font-size:14px;
 font-style:italic;
 padding-left:1%;
}
.moduletable_last .last-item a {
 margin:5px 0 -3px 0;
 float:left;
}
.moduletable_last .last-item p {
 font-size:16px;
 width:100%;
 float:left;
 line-height:23px;
}
.moduletable_last .last-item .date {
 font-size:12px;
 font-style:italic;
 margin-top:-15px;
}
.post-otzyv {
 margin:2px 11% 29px 0;
 font-size:15px;
 font-style:italic;
}
#map {
 width:475px;
 height:307px;
 margin-left:1.9%;
 margin-top:22px;
 border:1px solid #e6e6e6;
 padding:2px 0.5%;
 background:#fff;
}
.ymaps-map {
 top:-16px !important;
}
article {
 margin-right:3.3%;
 margin-top:7px;
 width:41%;
 min-height:352px;
}
.moduletable_video {
 margin-left:1.2%;
 margin-top:-12px;
 width:42.1%;
 position:relative;
 z-index:3;
}
.moduletable_video h3 {
 padding:10px 0 19px 8%;
 width:90%;
 position:relative;
}
.moduletable_video h3:before {
 content:url('../img/ikonka_video.png');
 position:absolute;
 left:3%;
 top:10px;
}
.custom_video {
 margin-left:1.5%;
 margin-top:1px;
}
aside {
 width:22.2%;
 margin-right:3.1%;
 margin-top:58px;
}
.moduletable_rightmenu,
.moduletable_bigmenu {
 width:100%;
}
.moduletable_rightmenu li,
.moduletable_bigmenu li {
 background:url(../img/mini-bg.png) no-repeat;
 text-align:center;
 padding:22px 0 24px 8%;
 width:92%;
 font-family:mtcor;
 font-size:30px;
 margin-bottom:9px;
 border-radius:10px;
 position:relative;
}
.moduletable_rightmenu li img,
.moduletable_bigmenu li img {
 position:absolute;
 left:6%;
 top:24px;
}
.moduletable_rightmenu li.item-110 img {
 top:19px;
}
.moduletable_rightmenu li.item-112 img {
 top:16px;
}
.moduletable_bigmenu li img {
 top:12px;
}
.moduletable_bigmenu li.item-123 img {
 top:15px;
}
.moduletable_bigmenu li.item-127 img {
 top:19px;
}
.moduletable_bigmenu li.item-128 img {
 top:7px;
 left:0;
}
.moduletable_bigmenu li.item-129 img {
 top:15px;
}
.moduletable_rightmenu li a,
.moduletable_bigmenu li a {
 text-decoration:none;
}
.moduletable_car {
 margin-right:-0.2%;
 margin-top:8px;
}
.moduletable_vk {
 margin-right:0.6%;
 margin-top:-17px;
}
.moduletable_right_ad {
 margin-right:0.7%;
 margin-top:-4px;
}
.fb {
 margin-right:0.6%;
 margin-top:-6px;
}
.moduletable_bigmenu {
 margin-top:16px;
 margin-right:2.3%;
 width:96%;
}
.moduletable_bigmenu li {
 padding:16px 0 15px 12%;
 width:92%;
 font-size:23px;
 margin-bottom:7px;
 border-radius:10px;
}
.moduletable_addus {
 background:url(../img/addus.png) no-repeat;
 font-size:16px;
 line-height:16px;
 text-align:center;
 margin-top:2px;
 margin-right:-4%;
 width:100%;
 padding:9px 0 5px 0;
}
.moduletable_addus p {
 margin:0;
}
.moduletable_addus a {
 font-size:19px;
 padding:11px 0 13px 12%;
 background:url(../img/addus_link.png) no-repeat 2% 4px #007ac7;
 text-decoration:none;
 color:#fff;
 text-shadow:none;
 border-radius:10px;
 display:block;
 margin:8px 0 0 3.5%;
 width:82%;
 text-transform:uppercase;
}
.moduletable_bottomslider {
 width:100%;
 max-width:1184px;
 background:#fff;
 margin-top:10px;
 margin-left:0.5%;
 border-top:1px solid #d6dcdc;
 border-bottom:24px solid #dee8e9;
}
#btcontentslider106 {
 width:100% !important;
 padding:9px 0 6px 0;
}
.bt-cs .bt-row {
 margin-left:0.4%;
 margin-right:-1.0%;
 width:40.2% !important;
}
.bt-cs .bt-row.bt-row-first,
.bt-cs .bt-row.bt-row-last {
 width:30% !important;
 margin-right:-0.8%;
}
.moduletable_bottomslider img {
 border:none !important;
 outline:none !important;
}
.moduletable_bottomslider img {
 width:454px !important;
 height:220px !important;
}
.bt-cs .bt-row.bt-row-first img,
.bt-cs .bt-row.bt-row-last img {
 width:330px !important;
}
footer {
 width:100%;
 max-width:1193px;
 height:343px;
 background:url(../img/footer.png) no-repeat;
 background-size:100%;
 margin-left:0.1%;
}
.footer-menu {
 margin-left:0.3%;
 margin-top:16px;
 width:19.6%;
}
footer .moduletable_cities {
 width:100%;
}
footer .moduletable_cities select {
 border-radius:0;
 width:71%;
 height:25px;
}
.moduletable_footermenu {
 margin-left:10.5%;
 margin-top:16px;
 font-size:13px;
}
.moduletable_footermenu li {
 margin-bottom:6px;
}
.moduletable_share {
 margin-top:29px;
 width:12.4%;
}
.moduletable_share h3 {
 font-size:25px;
 line-height:22px;
 font-weight:normal;
 font-family:mtcor;
 margin:0 0 12px 10%;
 width:82%;
}
.moduletable_share li {
 border-radius:16px;
 border-top-right-radius:23px;
 border-bottom-right-radius:23px;
 background:url(../img/vk-top.png) no-repeat right #fff;
 background-position:102% -1px;
 padding:8px 0 9px 12%;
 margin-bottom:5px;
 font-size:13px;
}
.moduletable_share li:nth-of-type(2) {
 background:url(../img/fb-top.png) no-repeat right #fff;
}
.moduletable_share li:nth-of-type(3) {
 background:url(../img/tw-top.png) no-repeat right #fff;
}
.moduletable_share li:nth-of-type(4) {
 background:url(../img/ok-top.png) no-repeat right #fff;
}
.moduletable_share li a {
 text-decoration:none;
}
.adver-copy {
 margin-left:6%;
 margin-top:34px;
 width:25%;
 text-align:center;
}
.moduletable_adver {
 width:100%;
}
.moduletable_adver h3 {
 font-family:mtcor;
 font-size:30px;
 font-weight:normal;
 margin:0 0 19px 0;
}
.moduletable_adver li {
 margin-bottom:4px;
}
.moduletable_adver li a {
 font-size:13px;
 text-decoration:none;
}
.to-top {
 display:block;
 width:20%;
 padding-top:32px;
 text-decoration:none;
 font-size:14px;
 margin:-2px 0 17px 40%;
 background:url(../img/to-top.png) center top no-repeat;
}
.moduletable_copy p {
 margin:0;
 font-size:13px;
 line-height:19px;
 color:#fff;
}
.play-search {
 margin-right:2.5%;
 margin-top:69px;
 width:30%;
 font-size:13px;
 line-height:19px;
 text-align:right;
}
.play-search p {
 margin:0;
}
footer .moduletable_search {
 width:69%;
 margin-right:1%;
 margin-top:29px;
}
.moduletable_contacts {
 width:100%;
 margin-top:-1px;
 margin-right:-2%;
 font-size:20px;
 line-height:29px;
 color:#fff;
}
.moduletable_contacts p {
 margin:0;
 text-decoration:underline;
}
.moduletable_contacts a {
 color:#fff;
}
.counter {
 margin-top:15px;
 margin-right:3%;
}
.bg {
 background:url(../img/bg.png) center top no-repeat;
 position:absolute;
 top:1000px;
 left:0;
 width:100%;
 height:1736px;
 z-index:1;
}
.footer-bg {
 background:url(../img/footer-bg.png) center bottom no-repeat;
 background-size:100%;
 position:absolute;
 bottom:0;
 left:0;
 width:100%;
 height:545px;
 z-index:1;
}
.callback {
 display:none;
 width:200px;
 height:220px;
 position:fixed;
 left:-100px;
 margin-left:50%;
 top:50%;
 margin-top:-110px;
 background:url(../img/section.png) repeat-y;
 background-size:100%;
 z-index:25;
 padding:0 2%;
}
.moduletable_callback input[type=text] {
 border:1px solid #ccc;
 border-radius:5px;
 height:25px;
 padding:0 5%;
 background:#fff;
 color:#e3959f;
 margin-bottom:3px;
}
.moduletable_callback input[type=submit] {
 border-radius:5px;
 height:30px;
 background:#007ac7;
 text-transform:uppercase;
 color:#fff;
 margin:0 auto;
 border:none;
 display:block;
}
.close {
 position:absolute;
 right:-25px;
 top:-25px;
 background:url(../img/close_overlay.png) no-repeat;
 width:25px;
 height:28px;
 z-index:30;
 cursor:pointer;
}
.overlay {
 display:none;
 width:100%;
 height:100%;
 position:fixed;
 left:0;
 top:0;
 background:#000;
 opacity:0.9;
 z-index:20;
}