@font-face {
 font-family:'mtcor';
 src: url('mtcor.eot');
 src: local('O'), url('mtcor.woff') format('woff'),
 url('mtcor.TTF') format('truetype');
}
body {
 font-family:arial;
 line-height:1;
 background:url(../img/bg-top.png) center top no-repeat;
}
.cont {
 width:92%;
 max-width:1200px;
 margin:0 auto;
 overflow:hidden;
}
.floatleft {
 float:left;
}
.floatright {
 float:right;
}
header {
 width:100%;
}
.logo {
 width:30%;
 margin-left:-1%;
}
.logo span {
 display:block;
 font-weight:bold;
 font-size:17px;
 margin:-15px 0 38px 15%;
 color:#fff;
}
.moduletable_phone {
 font-size:34px;
 margin-top:37px;
 margin-left:4.5%;
 color:#fff;
}
.moduletable_phone p {
 margin:0;
 float:left;
}
.moduletable_phone a {
 display:block;
 width:113%;
 font-size:20px;
 text-decoration:none;
 margin-left:5%;
 margin-top:-2px;
 text-align:center;
 padding:10px 0;
 background:#007ac7;
 border-radius:7px;
 text-transform:uppercase;
 color:#fff;
}
.login {
 margin-top:33px;
 font-size:12px;
 width:21%;
 background:url(../img/soc-ikonki.png) no-repeat 84px 8px;
 padding-bottom:13px;
 color:#fff;
}
.login a {
 text-decoration:none;
 color:#fff;
}
.login div {
 height:30px;
 padding-right:11%;
 padding-top:12px;
 margin-top:-11px;
 background:url(../img/korzina.png) no-repeat top right;
}
.login span {
 display:block;
 width:35%;
 margin-top:11px;
 line-height:17px;
}
.login ul {
 padding:0;
 margin:0;
 list-style:none;
}
.login ul.soc-top {
 margin-top:-4px;
 margin-right:5px;
}
.login ul li {
 float:left;
 margin-left:1px;
}
.login ul.soc-top li {
 margin-left:4px;
}
.moduletable_lang {
 margin-top:35px;
 margin-left:6%;
}
.moduletable_lang ul {
 margin:0;
 padding:0;
 list-style:none;
}
.moduletable_lang ul li {
 float:left;
 margin-right:13px;
}
.search select {
 width:21.5%;
 padding-left:0.5%;
 height:37px;
 border-radius:10px;
 margin-left:9%;
 margin-top:30px;
 border:none;
}
.search a {
 display:block;
 width:6%;
 height:53px;
 margin-top:3px;
 margin-left:-2.1%;
 font-size:12px;
 text-decoration:none;
 background:url(../img/sitemap.png) bottom right no-repeat;
 color:#fff;
}
.moduletable_search {
 margin-top:-6px;
 width:21%;
}
.moduletable_search div {
 width:100%;
}
.search input[type=text] {
 border:none;
 width:80%;
 padding:12px 14% 8px 6%;
 border-radius:10px;
 font-size:14px;
 position:relative;
 z-index:1;
}
.search .button {
 float:right;
 position:relative;
 z-index:2;
 margin-left:-2%;
 margin-top:-27px;
}
.moduletable_form {
 width:29.833%;
 text-align:center;
 padding-bottom:7px;
 color:blue;
}

/* blue color */
h2, h3, .list li a, .news-last p, 
.moduletable_form .free,
.moduletable_rightmenu li a,
.moduletable_bigmenu li a {
 text-shadow:
 -1px -1px 0 #fff,
 1px -1px 0 #fff,
 -1px 1px 0 #fff,
 1px 1px 0 #fff;
 color:#007ac7;
}
/* magenta color */
a, .magenta, 
.newsflash_news .date {
 color:#e8268f;
}

.moduletable_form h3 {
 font-size:34px;
 margin:20px auto 26px auto;
 font-weight:normal;
 width:70%;
 line-height:44px;
 display:block;
}
.moduletable_form .free {
 font-size:25px;
}
.moduletable_form .free span {
 font-size:29px;
 display:block;
 text-transform:uppercase;
 margin:6px 0 30px 0;
}
.moduletable_form input {
 border-radius:8px;
 padding:13px 6%;
 width:66%;
 margin:0 auto 6px auto;
 border:none;
 font-size:21px;
 font-family:arial;
}
.moduletable_form input[type=submit] {
 background:url(../img/konvertik.png) no-repeat 5% 19px #007ac7;
 margin:13px 0 20px 0;
 width:78%;
 padding:19px 0 16px 15%;
 font-size:21px;
 text-transform:uppercase;
 color:#fff;
}
.moduletable_form div {
 border:none !important;
}
.moduletable_form a {
 display:none !important;
}
.moduletable_slider {
 width:auto;
 max-width:835px;
}
section {
 background:url(../img/section.png) repeat-y left;
 background-size:99.5%;
 margin-top:-60px;
 margin-left:1px;
}
.list {
 width:28.2%;
 background:url(../img/kat_uslug.png) repeat-y;
 background-size:100%;
 border-radius:20px;
 margin:55px 0 0 1.7%;
 padding-bottom:20px;
 position:relative;
}
.list h2 {
 font-size:36px;
 font-weight:normal;
 margin:0 0 0 1%;
 text-align:center;
 background:url(../img/h-bg.png) no-repeat;
 width:81.6%;
 padding:12px 0 18px 16%;
 border-radius:10px;
 font-family:mtcor;
 letter-spacing:0.01em;
}
.list ul {
 padding:0;
 margin:22px 0 0 0;
 list-style:none;
 overflow:hidden;
}
.list ul:after {
 content:'';
 background:url(../img/kat_uslug_bottom.png) no-repeat #eef8fa;
 background-size:100%;
 height:20px;
 width:100%;
 display:block;
 position:absolute;
 bottom:0;
}
.list li {
 float:left;
 width:70%;
 height:40px;
 line-height:28px;
 margin-bottom:-1px;
 padding-left:6%;
}
.list li img {
 margin-right:5%;
 margin-bottom:10px;
}
.list li:nth-of-type(2) {
 line-height:18px;
}
.list li:nth-of-type(2) a {
 margin-top:-4px;
 display:block;
}
.list li a {
 text-decoration:none;
}
.moduletable_shumo, 
.moduletable_mesto {
 margin-left:2.1%;
 margin-top:-15px;
}
.moduletable_mesto {
 margin-top:-20px;
}
.news-last {
 width:41.7%;
 margin-left:1.5%;
 margin-top:54px;
 overflow:hidden;
 position:relative;
 padding-bottom:19px;
 background:url(../img/news.png) repeat-y;
 background-size:100%;
 border-radius:16px;
}
.news-last:after {
 content:'';
 display:block;
 width:100%;
 height:19px;
 background:url(../img/news_bottom.png) no-repeat #eef8fa;
 background-size:100%;
 position:absolute;
 bottom:0;
}
.news-last h3, article h2, 
.moduletable_video h3 {
 font-size:36px;
 font-weight:normal;
 margin:0 0 -9px 1%;
 text-align:center;
 background:url(../img/h-bg.png) no-repeat;
 width:98%;
 padding:13px 0 19px 0;
 border-radius:10px;
 font-family:mtcor;
 float:left;
}
.newsflash_news {
 padding:0 6.6%;
 overflow:hidden;
}
.newsflash_news .stars {
 margin:11px 0 0 0;
 width:100%;
}
.newsflash_news h4 {
 width:100%;
 margin:5px 0 6px 0;
 font-size:14px;
 font-weight:normal;
 color:red;
}
.newsflash_news .date {
 width:100%;
 font-size:11px;
 margin:0 0 4px 1%;
 font-style:italic;
}
.newsflash_news p {
 width:100%;
 float:left;
 font-size:13px;
 line-height:18px;
 margin:0 0 -6px 0;
}
.newsflash_news .readmore {
 font-size:12px;
}
.moduletable_recent {
 margin-top:21px;
 width:100%;
 padding-bottom:52px;
}
.news-last .moduletable_recent h3 {
 padding:3px 0 21px 0;
 margin:0 0 -15px 1%;
}
.moduletable_recent .last-item {
 padding:0 7% 0 5%;
 margin:0 0 -10px 0;
 width:100%;
}
.moduletable_recent .last-item a {
 font-size:11px;
 float:left;
 margin:28px 0 -21px 12%;
 width:84%;
}
.moduletable_recent .last-item p {
 font-size:11px;
 margin:0;
}
.moduletable_recent .last-item img {
 margin-right:3%;
}
.moduletable_last h3 {
 padding:10px 0 20px 0;
}
.moduletable_last .last-item {
 padding:0 9%;
 font-size:20px;
 margin-top:20px;
}
.moduletable_last .last-item .otzyv-author {
 font-size:14px;
 font-style:italic;
 padding-left:1%;
}
.moduletable_last .last-item a {
 margin:5px 0 -3px 0;
 float:left;
}
.moduletable_last .last-item p {
 font-size:16px;
 width:100%;
 float:left;
 line-height:23px;
}
.moduletable_last .last-item .date {
 font-size:12px;
 font-style:italic;
 margin-top:-15px;
}
.post-otzyv {
 margin:2px 11% 29px 0;
 font-size:15px;
 font-style:italic;
}
#map {
 width:482px;
 height:306px;
 margin-left:3%;
 margin-top:20px;
 border:1px solid #e6e6e6;
 padding:2px 1%;
 background:#fff;
}
.moduletable_video, 
article {
 margin-right:1.5%;
 margin-top:10px;
 width:41%;
}
.moduletable_video {
 margin-right:1.5%;
 margin-top:10px;
 width:41%;
}
.moduletable_rightmenu {
 margin-top:58px;
 margin-right:3.1%;
 width:22.1%;
}
.moduletable_rightmenu ul, 
.moduletable_bigmenu ul {
 padding:0;
 margin:0;
 list-style:none;
}
.moduletable_rightmenu li,
.moduletable_bigmenu li {
 background:url(../img/mini-bg.png) no-repeat;
 text-align:center;
 padding:22px 0 24px 8%;
 width:92%;
 font-family:mtcor;
 font-size:30px;
 margin-bottom:9px;
 border-radius:10px;
}
.moduletable_rightmenu li a,
.moduletable_bigmenu li a {
 text-decoration:none;
}
.moduletable_bigmenu {
 margin-right:3%;
 margin-top:10px;
 width:22%;
}
.moduletable_car {
 margin-right:3%;
 margin-top:8px;
}
.moduletable_vk {
 margin-right:3.3%;
 margin-top:-18px;
}
.moduletable_right_ad {
 margin-right:3.3%;
 margin-top:-4px;
}
.fb {
 margin-right:3.3%;
 margin-top:-6px;
}